{# empty Twig template #}
<a id="filter-dropdown-button" class="btn btn-block" role="button" data-toggle="collapse" href="#main-filter" aria-expanded="false" aria-controls="main-filter">
Filters<br /> 
<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> 
<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>

</a>            
<!-- REACT FILTER MENU -->
<div id="render"></div>
<!-- REACT FILTER MENU -->

<div class="clearfix"></div>